/* 
    Document   : geosec
    Created on : 29-sep-2013, 1:30:30
    Author     : USUARIO
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: Verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color:#333;
    font-size: 0.8em;
    color:#333;
}
a, a:visited, a:link{color:#0034BF;text-decoration: none;}
a:hover{text-decoration: underline;}
#barratop{background-color: #333;height: 15px;width: 100%}

#top{width: 100%;height: 48px;border-top:solid 1px #d0d0d0;border-bottom :solid 1px #d0d0d0;background-color:#3F5C9A;color:#fff;}

#logo{padding: 10px 0 0 20px;}

#logo h2{padding:0;margin:0}

.container{background-color: #FFFFFF;clear: both;padding: 10px 20px;width: 100%;}

#footer{width: 100%;height: 100px;background-color:#333;clear:both;}
#footer .menufooter{background-color:#3F5C9A;padding:5px 20px;font-size: 12px;display:block;border-top:solid 1px #d0d0d0;border-bottom :solid 1px #d0d0d0;height: 20px;}
#footer .menufooter .menufooteroption{display:inline;float:left;margin-right: 20px;}
#footer .menufooter .menufooteroption a{display:inline;float:left;margin-right: 20px;color:#fff;font-weight: bold;}
#footer .menufooter .footerrights{display:inline;float:right;color:#fff}

.menutop{display: block;height: 30px;margin: 0 auto;padding: 5px 0;width: 1030px;}
.menutop ul{list-style-type: none;float:left;width: 100%;clear:both;padding-left: 0;}
.menutop li{list-style-type: none;display:inline;float:left;margin-right: 10px;display:block;padding:0;}
/*.menutop li a{display:block;padding:2px 8px;border: solid 1px #ccc;}*/

.principal{background-color: #3F5C9A;clear: both;display: block;height: 500px;margin: 10px auto 10px;padding: 10px 20px;width: 1030px;}
.principal .opciones{background-color: #D8DFEA;border: 2px solid #C0C0C0;display: inline;float: left;height: 486px;padding: 5px;width: 251px;}
.principal .principalmap{display:inline;float:left;padding:0 0 10px 5px;width: 760px;}
#mapa{
    width: 756px;
    height: 496px;
    display:block;
    clear:both;
    overflow: hidden;
    border:solid 2px #c0c0c0;
}

#infowindow{max-width: 400px;display:block; min-width: 250px;}
#infowindow h3{}
#infowindow p{display:block}

.principal .opciones label{border-bottom: 2px ridge #333333;clear: both;float: left;margin:15px 0 5px 0;width: 100%;}
span.tipoincidente{display:block;width: 100%;height: 25px;clear:both;float:left;}
span.labelinterno{display: inline;float: left;margin: 3px 0;width: 70px;}
.fechahora .tipoincidente select{margin-left: 0;}
.fechahora .button{float:right;clear:both;margin-top:5px;}
.lineatop{border-top: 2px ridge #333333;float: left;margin: 5px 0 0;}

#map{
    width: 674px;
    height: 500px;
    display:block;
    clear:both;
    overflow: hidden;
    border:solid 3px #c0c0c0;
}

form{font-size: 1em;}
.formleft{display:inline;float:left;width: 260px;padding:0 5px 10px 0;}
.formright{display:inline;float:left;padding:0 0 10px 5px;width: 690px;}
select{ padding:2px;border:solid 1px #999;width:254px;}
textarea{padding:2px;border:solid 1px #999;width:254px;height: 60px;}
label{font-size: 11px;font-weight: bold;}
p{margin:6px 0 3px 0;}
h3{margin:5px 0;}
input[type="text"]{padding:2px;border:solid 1px #999;width:254px;}
input[type="text"].date{width:100px;}
div.fechahora{
    width: 254px;height: 50px;display:block;clear:both;
}
.fechahora select{display:inline;float:left;width: 55px;margin-left: 22px;}
div.fechahora input[type="text"].date{width:182px;display:inline;float:left;height: 24px;}

textarea.error{border:solid 1px #FF0000}
label.error{font-size: 10px;color:#FF0000;}

/*openid*/
#content{display:block;height: 70px;}
#content h4 img{border: 5px solid #3F5C9A;display: inline;float: left;-moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#content h4 span{color: #3F5C9A;display: inline;float: left;margin: 45px 0 0 5px;max-width: 185px;overflow: hidden;}

/*miscelaneous*/

.rounded6 { -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.rounded5 { -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.rounded3 { -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.rounded10 { -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.roundedtop5 { -moz-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.roundedtop3 { -moz-border-radius: 3px 3px 0 0; -khtml-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.roundedbottom5 { -moz-border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.roundedbottom3 { -moz-border-radius: 0 0 3px 3px; -khtml-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.roundedlefttop5 { -moz-border-radius: 5px 0 0 0; -khtml-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.roundedrighttop5 { -moz-border-radius: 0 5px 0 0; -khtml-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }

.clear{display:block;clear:both;}