/* 
    Document   : geosec
    Created on : 29-sep-2013, 1:30:30
    Author     : USUARIO
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    font-family: Verdana,arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f6f6f6;
    font-size: 0.8em;
}
a, a:visited{color:#3333ee;text-decoration: none;}
a:hover{text-decoration: underline;}
#barratop{background-color: #f0f0f0;height: 15px;width: 100%}

#top{width: 100%;height: 48px;border-top:solid 1px #d0d0d0;border-bottom :solid 1px #d0d0d0;background-color:#aaa;color:#fff;}

#logo{padding: 10px 0 0 20px;}

#logo h2{padding:0;margin:0}

.container{background-color: #FFFFFF;clear: both;padding: 10px 20px;width: 100%;}

#footer{width: 100%;height: 100px;background-color:#f6f6f6;clear:both;}
#footer .menufooter{background-color:f0f0f0;padding:5px 20px;font-size: 12px;display:block;border-top:solid 1px #d0d0d0;border-bottom :solid 1px #d0d0d0;height: 20px;}
#footer .menufooter .menufooteroption{display:inline;float:left;margin-right: 20px;}
#footer .menufooter .footerrights{display:inline;float:right;}

.menutop{height: 30px;display:block;padding:5px 0;}
.menutop ul{list-style-type: none;float:left;width: 100%;clear:both;padding-left: 20px;}
.menutop li{list-style-type: none;display:inline;float:left;margin-right: 10px;display:block;padding:0;}
.menutop li a{display:block;padding:2px 8px;border: solid 1px #ccc;}

.principal{display:block;width: 100%;height: 500px;background-color: #fff;clear:both;}
.principal .opciones{display:inline;float:left;width: 260px;padding:0 5px 10px 0;}
.principal .principalmap{display:inline;float:left;padding:0 0 10px 5px;width: 750px;}
#mapa{
    width: 746px;
    height: 496px;
    display:block;
    clear:both;
    overflow: hidden;
    border:solid 2px #c0c0c0;
}

#map{
    width: 674px;
    height: 500px;
    display:block;
    clear:both;
    overflow: hidden;
    border:solid 3px #c0c0c0;
}

form{font-size: 1em;}
.formleft{display:inline;float:left;width: 260px;padding:0 5px 10px 0;}
.formright{display:inline;float:left;padding:0 0 10px 5px;width: 690px;}
select{ padding:2px;border:solid 1px #999;width:254px;}
textarea{padding:2px;border:solid 1px #999;width:254px;height: 60px;}
label{font-size: 11px;font-weight: bold;}
p{margin:6px 0 3px 0;}
h3{margin:5px 0;}
input[type="text"]{padding:2px;border:solid 1px #999;width:254px;}
input[type="text"].date{width:100px;}
div.fechahora{
    width: 254px;height: 50px;display:block;clear:both;
}
.fechahora select{display:inline;float:left;width: 55px;margin-left: 22px;}
div.fechahora input[type="text"].date{width:100px;display:inline;float:left;height: 24px;}

textarea.error{border:solid 1px #FF0000}
label.error{font-size: 10px;color:#FF0000;}

/*miscelaneous*/

.rounded6 { -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.rounded5 { -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.rounded3 { -moz-border-radius: 3px; -khtml-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.rounded10 { -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.roundedtop5 { -moz-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.roundedtop3 { -moz-border-radius: 3px 3px 0 0; -khtml-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
.roundedbottom5 { -moz-border-radius: 0 0 5px 5px; -khtml-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.roundedbottom3 { -moz-border-radius: 0 0 3px 3px; -khtml-border-radius: 0 0 3px 3px; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; }
.roundedlefttop5 { -moz-border-radius: 5px 0 0 0; -khtml-border-radius: 5px 0 0 0; -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.roundedrighttop5 { -moz-border-radius: 0 5px 0 0; -khtml-border-radius: 0 5px 0 0; -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }

.clear{display:block;clear:both;}